





  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">Trang chủ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart">Giỏ hàng của bạn</a>
          </li>
        </ul>
      </div>
      <div class="circular-dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{img}}" alt="Dropdown" style="width: 35px; height: 35px;border-radius: 50%">
        </button>
        <ng-container *ngIf="username; else loginSection">
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item">Chào mừng: {{username}}</a></li>
            <li><a class="dropdown-item" routerLink="/user">Quản lí tài khoản</a></li>
            <li (click)="logout()"><a class="dropdown-item">Đăng xuất</a></li>
          </ul>
        </ng-container>
        <ng-template #loginSection>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" routerLink="/login">Đăng nhập</a></li>
          </ul>
        </ng-template>
      </div>
    </div>
  </nav>
<header>
  <h3 align="center">Danh sách sản phẩm</h3>

</header>
<br>
<br>

<button class="add-button" data-bs-toggle="modal" data-bs-target="#myModal2" >+ Thêm mới</button>

<table>
  <thead>
  <tr >
    <th>STT</th>
    <th>Tên sản phẩm </th>
    <th>Số lượng </th>

    <th>Giá</th>
    <th>Hình ảnh</th>
<!--    <th>Danh mục</th>-->
    <th>Trạng thái</th>
    <th>Cập nhật</th>



  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of listProduct" >
    <td>{{i.id}}</td>
    <td>{{i.nameProduct}}</td>
    <td>{{i.quantity}}</td>

    <td>{{i.price}}</td>
<!--    <td>{{i.category.name}}</td>-->
    <td ><img src="{{i.image}}" width="150" height="100"></td>
    <td>
      <span *ngIf="i.quantity!=0; else outOfStock" class="available">Còn hàng</span>
      <ng-template #outOfStock>
        <span class="out-of-stock">Hết hàng</span>
      </ng-template>
    </td>
    <td>
      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#myModal1" (click)="getProductById(i.id)">Chỉnh sửa</button>
      <button *ngIf="i.quantity!=0; else inStockButton" type="button" class="btn btn-outline-secondary" (click)="deleteProduct(i.id)">Đánh dấu hết hàng</button>
      <ng-template #inStockButton>
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#myModal" (click)="setidProduct(i.id)">Đánh dấu còn hàng</button>
      </ng-template>
    </td>


  </tr>
  </tbody>
</table>
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" align="center">Chỉnh sửa trạng thái sản phẩm</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" align="center">
          Nhập số lượng muốn bán :
          <br>
          <input type="number"[(ngModel)]="quantityProduct" />
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="updateQuantityProduct()" data-bs-dismiss="modal">Xác nhận</button>
        </div>

      </div>
    </div>
  </div>


  <div class="modal" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Sửa sản pẩm</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="productForm" (ngSubmit)="editProduct()">
            <div class="form-group">
              <label for="nameProduct">Tên sản phẩm:</label>
              <input type="text" class="form-control" id="nameProduct" formControlName="nameProduct" required>
            </div>
            <div class="form-group">
              <label for="price">Giá:</label>
              <input type="number" class="form-control" id="price" formControlName="price" required>
            </div>
            <div class="form-group">
              <label for="quantity">Số lượng:</label>
              <input type="number" class="form-control" id="quantity" formControlName="quantity" required>
            </div>
            <div class="form-group">
              <label for="image">Ảnh:</label>
              <input type="text" class="form-control" id="image" formControlName="image" required>
            </div>
            <div class="form-group">
              <label for="category">Danh mục:</label>
              <select class="form-control" id="category" formControlName="category" required>
                <option *ngFor="let category of listCategory" [value]="category.id"  [ngValue]="category">{{ category.name }}</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="editProduct()" data-bs-dismiss="modal">Save</button>
            </div>
          </form>
        </div>

        <!-- Modal footer -->


      </div>
    </div>
  </div>



  <div class="modal" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Thêm sản phẩm</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="productForm" (ngSubmit)="create()">
            <div class="form-group">
              <label for="nameProduct">Tên sản phẩm:</label>
              <input type="text" class="form-control" id="nameProduct1" formControlName="nameProduct" required>
            </div>
            <div class="form-group">
              <label for="price">Giá:</label>
              <input type="number" class="form-control" id="price1" formControlName="price" required>
            </div>
            <div class="form-group">
              <label for="quantity">Số lượng:</label>
              <input type="number" class="form-control" id="quantity1" formControlName="quantity" required>
            </div>
            <div class="form-group">
              <label for="image">Ảnh:</label>
              <input type="text" class="form-control" id="image1" formControlName="image" required>
            </div>
            <div class="form-group">
              <label for="category">Danh mục:</label>
              <select class="form-control" id="category1" formControlName="category" required>
                <option *ngFor="let category of listCategory" [value]="category.id"  [ngValue]="category">{{ category.name }}</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="create()" data-bs-dismiss="modal">Thêm mới</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <section class="company-info" >
    <div class="container">
      <h2>Hệ thống cửa hàng</h2>
      <p>Store 13: 140 Phạm Văn Đồng, Phường Mai Dịch, Cầu Giấy , Hà Nội.

        Store 14: 39 Tây Sơn, Phường Quang Trung, Đống Đa, Hà Nội.

        Store 15: 231 Bạch Mai, P. Cầu Dền, Quận Hai Bà Trưng, Hà Nội

      </p>
    </div>
  </section>



