.circular-dropdown {
  display: inline-block;
  position: relative;
}

.circular-dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;

}

.circular-dropdown .dropdown-toggle::after {
  content: "";
  display: inline-block;
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 3px;
  margin-left: 5px;
}
body {
  font-family: Arial, sans-serif;
}

header {
  margin-top: 50px;
}

h1 {
  margin: 0;
}

.add-button {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: aqua;
}
.available {
  color: green;
}

.out-of-stock {
  color: red;
}
.company-info {
  background-color: #f8f9fa;
  padding: 50px 0;
  margin-top: 50px;

}

.company-info h2 {
  text-align: center;
  margin-bottom: 30px;
}
