
.navbar-brand {
  font-weight: bold;
}


.company-info {
  background-color: #f8f9fa;
  padding: 50px 0;


}

.company-info h2 {
  text-align: center;
  margin-bottom: 30px;
}


.personal-info {
  padding: 50px 0;

}

.personal-info h2 {
  text-align: center;
  margin-bottom: 30px;
}

.avatar {
  text-align: center;
  margin-bottom: 20px;
}

.avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.info .form-group {
  margin-bottom: 20px;
}
.circular-dropdown {
  display: inline-block;
  position: relative;
}

.circular-dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;

}

.circular-dropdown .dropdown-toggle::after {
  content: "";
  display: inline-block;
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 3px;
  margin-left: 5px;
}

